@model C2B_POE1.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this order?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fufilled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fufilled)
        </dd>
        <dt class="col-sm-2">
            Customer Partition Key
        </dt>
        <dd class="col-sm-10">
            @Model.PartitionKey
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RowKey" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
